{% extends 'admin/layout-admin.html.twig' %}

{% block title %}Hello AdminCategoryController!{% endblock %}

{% block body %}
 <div class="container">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="row">
            <div class="col">{{ form_row(form.name) }}</div>
            <div class="col">{{ form_row(form.type) }}</div>
        </div>
        <div class="row">
            <div class="col">{{ form_row(form.price) }}</div>
            <div class="col">{{ form_row(form.score) }}</div>
        </div>
        <div class="row">
            <div class="col">{{ form_row(form.concentration) }}</div>
            <div class="col">{{ form_row(form.contenance) }}</div>
            <div class="col">{{ form_row(form.extraction) }}</div>
        </div>
        <div class="row">
            <div class="col">{{ form_row(form.brand) }}</div>
        </div>
        <div class="row">
            <div class="col">{{ form_row(form.imageFile) }}</div>
        </div>
        <button type="submit" class="btn btn-primary px-4 my-4">Valider</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
