{% extends 'admin/layout-admin.html.twig' %}

{% block title %}Hello AdminCategoryController!{% endblock %}

{% block body %}
    <div class="container pt-4">
        <div>
            <a href="{{ path('admin.create.oil') }}" class="my-4 btn btn-primary">Nouveau Produit</a>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td style="vertical-align: middle">{{ product.name }}</td>
                    <td>
                        <a href="{{ path('admin.edit.oil', {id : product.id }) }}" class="btn btn-primary">Editer</a>
                        <form action="{{ path('admin.delete.oil', {id : product.id }) }}" method="post" style="display: inline-block">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}) }}"/>
                            <button type="submit" class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation mt-4">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
