{% extends 'layout.html.twig' %}

{% block title %}Page Listing Huile de CBD{% endblock %}

{% block body %}
    <div class="container">
        {{ include('categories/components/_filter_category.html.twig') }}

        {{ include('categories/components/_listing_' ~ category ~ '.html.twig') }}

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
