{% extends 'layout.html.twig' %}

{% block title %}Page Listing Huile de CBD{% endblock %}

{% block body %}
    <div class="container">

        <h1>Page Huile</h1>

        {{ include('categories/components/_filter_category.html.twig') }}

        <div class="row mt-4">
            {% if products is null or products is empty %}
                <div class="alert alert-info">Aucun produit ne correspond à votre recherche :(</div>
            {% else %}
                {% for product in products %}
                    <div class="col-3 m-4 card p-4">
                        <div>{{ product.name }}</div>
                        <div>
                            <img src="{{ vich_uploader_asset(product) }}" alt="" style="max-width: 100%">
                        </div>
                        <div>{{ product.type }}</div>
                        <div>{{ product.price }} €</div>
                        <div>{{ product.brand.name }}</div>
                        <div>{{ product.score }}</div>
                        <div>{{ product.concentration }}</div>
                        <div>{{ product.contenance }}</div>
                        <div>{{ product.extraction }}</div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
