{% extends '../../layout.html.twig' %}

{% block title %}Page Listing Huile de CBD{% endblock %}

{% block body %}
    <div class="container">

        <form>
            <div style="display: flex">
                {% for filter in filters %}
                <div style="padding: 1rem;">
                    <h4>{{ filter.name }}</h4>
                    <div>
                        {% for option in filter.options %}
                            <p>
                                <label for="{{ option.slug }}" style="cursor: pointer">{{ option.name }}</label>
                                <input type="checkbox" id="{{ option.slug }}" name="{{ filter.slug }}[]" value="{{ option.slug }}" {% if option.checked is defined %}checked{% endif %} autocomplete='off' style="cursor: pointer">
                            </p>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <p>
                <button type="submit">Sauvegarder</button>
            </p>
        </form>
        
            <div class="row mt-4">
                {% if no_result %}
                    <div class="alert alert-info">Aucun produit correspondant</div>
                {% else %}
                    {% for product in products %}
                        <div class="col-3 m-4 card p-4">
                            <div>{{ product.name }}</div>
                            <div>{{ product.price }}</div>
                            <div>{{ product.score }}</div>
                            <div>{{ product.brand.name }}</div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
    </div>
{% endblock %}
