{% extends 'admin/layout-admin.html.twig' %}

{% block title %}Admin Area{% endblock %}

{% block body %}
   <div class="container pt-4">
      <h1 style="color: darkgreen; text-align: center; line-height: 3rem">Bienvenue dans la zone d'administration de <strong>Greenyvibes</strong></h1>
   </div>
{% endblock %}
