<form>
    <div style="display: flex">
        {% for filter in filters %}
            <div style="padding: 1rem;">
                <h4>{{ filter.name }}</h4>
                <div>
                    {% for option in filter.options %}
                        <p>
                            <label for="{{ option.slug }}" style="cursor: pointer"> {{ (option.name) }}
                            </label>
                            <input type="checkbox" id="{{ option.slug }}" name="{{ filter.slug }}[]"
                                   value="{{ option.slug }}" {% if option.checked is defined %}checked{% endif %}
                                   autocomplete='off' style="cursor: pointer">
                        </p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    <p>
        <button type="submit">Sauvegarder</button>
    </p>
</form>