<div class="row mt-4">
    {% if products is null or products is empty %}
        <div class="alert alert-info">Aucun produit ne correspond à votre recherche :(</div>
    {% else %}
        {% for product in products %}
            <div class="col-3 m-4 card p-4">
                <div>{{ product.name }}</div>
                <div>
                    <img src="{{ vich_uploader_asset(product, 'imageFile') }}" style="max-width: 100%" alt="">
                </div>
                <div>{{ product.type }}</div>
                <div>{{ product.price }} €</div>
                <div>{{ product.brand.name }}</div>
                <div>{{ product.score }}</div>
                <div>{{ product.concentration }}</div>
                <div>{{ product.contenance }}</div>
                <div>{{ product.extraction }}</div>
            </div>
        {% endfor %}
    {% endif %}
</div>