{% extends '../../layout.html.twig' %}

{% block title %}Page Listing Huile de CBD{% endblock %}

{% block body %}
    <div class="container">

        <form>
            <div style="display: flex">
                {% for filter in filters %}
                <div style="padding: 1rem;">
                    <h4>{{ filter.name|trans({}, 'filters') }}</h4>
                    <div>
                        {% for option in filter.options %}
                            <p>
                                <label for="{{ option.slug|trans({}, 'filters') }}" style="cursor: pointer"> {{ (option.name|trans({}, 'filters')) }}
                                    {% if filter.name|trans({}, 'filters', app.request.defaultLocale) is same as 'Price' %}
                                        €
                                    {% endif %}
                                </label>
                                <input type="checkbox" id="{{ option.slug|trans({}, 'filters') }}" name="{{ filter.slug|trans({}, 'filters') }}[]" value="{{ option.slug|trans({}, 'filters') }}" {% if option.checked is defined %}checked{% endif %} autocomplete='off' style="cursor: pointer">
                            </p>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <p>
                <button type="submit">Sauvegarder</button>
            </p>
        </form>

        <div class="row mt-4">
            {% if products is null or products is empty %}
                <div class="alert alert-info">Aucun produit correspondant</div>
            {% else %}
                {% for product in products %}
                    <div class="col-3 m-4 card p-4">
                        <div>{{ product.name }}</div>
                        <div>{{ product.type }}</div>
                        <div>{{ product.price }} €</div>
                        <div>{{ product.brand.name }}</div>
                        <div>{{ product.score }}</div>
                        <div>{{ product.concentration }}</div>
                        <div>{{ product.contenance }}</div>
                        <div>{{ product.extraction }}</div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
