{% extends 'layout.html.twig' %}

{% block title %}Greenyvibes{% endblock %}

{% block body %}
    <h1>Hello Everybody !!!</h1>

    <div class="modal-body">
        <ul class="nav flex-column">
            {% if is_granted('ROLE_USER') %}
                <div>Vous êtes connecté</div>
            {% else %}
                <div>Vous n'êtes pas connecté</div>
            {% endif %}
        </ul>
    </div>
{% endblock %}

