<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/minty/bootstrap.min.css">
    <meta name="turbo-cache-control" content="no-cache">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<header class="mb-4">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <div>
                <a class="navbar-brand" href="{{ path('home') }}"><strong>Greenyvibes</strong></a>
            </div>
            <div style="display: flex;align-items: center;">
                <ul style="display:flex; align-items: center; color: black; list-style-type: none; margin: 0">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('category.index', {'category': 'cbd', 'subcategory' : 'oil'|trans}) }}">{{ 'oil'|trans|capitalize }}</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link"
                           href="{{ path('category.index', {'category': 'cbd', 'subcategory' : 'herb'|trans}) }}">{{ 'herb'|trans|capitalize }}</a>
                    </li>
{#                    <li class="nav-item active">#}
{#                        <a class="nav-link"#}
{#                           href="{{ path('category.index.oils', {'category': 'cbd', 'subcategory' : 'eliquid'|trans}) }}">{{ 'eliquid'|trans|capitalize }}</a>#}
{#                    </li>#}
{#                    <li class="nav-item active">#}
{#                        <a class="nav-link"#}
{#                           href="{{ path('category.index.cosmetics') }}">{{ 'cosmetic'|trans({}, 'menus') }}</a>#}
{#                    </li>#}
{#                    <li class="nav-item active">#}
{#                        <a class="nav-link"#}
{#                           href="{{ path('category.index.infusions') }}">{{ 'infusion'|trans({}, 'menus') }}</a>#}
{#                    </li>#}
{#                    <li class="nav-item active">#}
{#                        <a class="nav-link" href="{{ path('category.index.food') }}">{{ 'food'|trans({}, 'menus') }}</a>#}
{#                    </li>#}
{#                    <li class="nav-item active">#}
{#                        <a class="nav-link"#}
{#                           href="{{ path('category.index.vaporisators') }}">{{ 'vaporisator'|trans({}, 'menus') }}</a>#}
{#                    </li>#}
{#                    <li class="nav-item active">#}
{#                        <a class="nav-link"#}
{#                           href="{{ path('category.index.gelules') }}">{{ 'gelule'|trans({}, 'menus') }}</a>#}
{#                    </li>#}
                </ul>
                <div>
{#                    {{ dump(app.request.get('_route_params_trans')) }}#}
                    <ul style="margin: 0 10px 0 0;display: flex; list-style-type: none">
                        <li style="margin-right: 15px"><a href="{{ path(app.request.get('_route'), app.request.get('_route_params_trans')['en']) }}" style="color: black">English</a></li>
                        <li style="margin-right: 15px"><a href="{{ path(app.request.get('_route'), app.request.get('_route_params_trans')['fr']) }}" style="color: black;">Français</a></li>
                    </ul>
                </div>
                <form class="d-flex">
                    <input class="form-control me-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>
{% block body %}{% endblock %}
</body>
</html>
